<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
	<body>
	<h1 data-color="red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></h1>
	<form method="post" th:action="@{/newLogin}">
		<label>用户名</label>
		<input type="text" name="name"><br>
		<label>密码</label>
		<input type="password" name="password"><br>
		<button type="submit">登录</button><br>
		<a th:href="@{/register}">注册</a>
		<button>管理员登录</button>
	</form>
	</body>
</html>
