<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOG IN PAGE</title>
</head>
<p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
<body>
    <form method="post" th:action="@{/login}" th:object="${info}">
        <label>EMAIL</label>
        <input type="text" placeholder="Email" name="email">
        <br>
        <label>PASSWORD</label>
        <input type="password" placeholder="Password" name="password">
        <br>
        <button type="submit">SIGN IN</button>
    </form>


</body>
</html>