<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/person/add}">
    <input type="hidden" name="id">
    <label>EMAIL</label>
    <input type="text" placeholder="Email" name="email">
    <br>
    <label>PASSWORD</label>
    <input type="password" placeholder="Password" name="password">
    <br>
    <label>NAME</label>
    <input type="text" placeholder="Name" name="name">
    <br>
    <label>GENDER</label>
    <input type="text" placeholder="Gender" name="sex">
    <button type="submit">JOIN IN</button>
</form>
</body>
</html>