body{
    background-color:#fff;
    color: #6d6d6d;
    text-align: center;
}

.nav-header{
  height: 85px;
  background-color: #090723;
}
.loginbox{
  text-align: center;
  width: 370px;
  height: 330px;
  margin: 50px auto;
  padding-top:50px; 
  border: 1px solid #999;
  border-radius: 15px;
}

.txt{
  border-radius: 5px;
  border: 1px solid #999;
  padding:3px 12px;
  height:30px;
  margin-bottom: 15px;
  width: 200px;
  line-height: 17px;
  color: #333;
  font-family: Verdana,Tahoma,Arial;
  font-size: 14px;
}

.btnbox{
  padding-top: 40px;
}
.btn{
  border-radius: 5px;
  border: 1px solid ;
  height:35px;
  margin-bottom: 13px;
  width: 200px;
  background-color: #e36209;
  color: #fff;
}